{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie_Rental</title>
</head>
<body>

{% for movie in movies %}
<span>{{ movie.movie_name }}</span><br>
    <div class="column">
            <img src="/web_app/static/img/{{movie.movie_name}}.jpg" alt="{{ movie.movie_name}}" />

        </div>
<span>price : {{ movie.price }}</span><br>
<span> Quantity :{{ movie.quantity }}</span><br>
<span> {{ movie.description }}</span><br><br><br>

{% empty %}
<span>NO Movies Available</span>
{% endfor %}
</body>
</html>